  
  .container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /*background-image: url(../images/depositphotos_156275360-stock-illustration-cute-cartoon-doctor-with-liver.jpg);*/
    background-position: center;
    background-size: cover;
  }
  
  .chatbox {
    bottom: 30px;
    background: linear-gradient(120deg, #17bebb, #f0a6ca);
    width: 60vw;
    height: 80%;
    border-radius: 15px;
    position: relative;
    box-shadow: 10px 10px 5px 1px lightblue;
  }
  
  .chatbox form input {
    background-color: rgba(0, 0, 0, 0.03);
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    width: 60vw;
    padding: 1.2em;
    outline: none;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
  }
  
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
  }
  