
.box {
    height: 90vh;
    width: 100%;
    background-image: url(../images/web-contact-us-icons-blue-background-contact-us-cutomer-support-concept-copy-space-website-page-contact-us-web-banner-copy-space-blue-background_256259-1520.jpg);
    background-position: center;
    background-size: cover;
}

.square {
    height: 70vh;
    width: 40vw;
    border: 4px solid rgb(197, 68, 68);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 30%;
    top: 80px;
    padding: 0;
    margin: 0;
}

.square span {
    width: 11vw;
    font-size: 28px;
    font-weight: 600;
    color: rgb(225, 14, 14);
    position: relative;
    bottom: 16px;
    background-color: rgb(192, 224, 238);
    text-align: center;
}

.info {
    text-align: center;
    position: relative;
    top: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col-12 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
}

.col-1, .col-2 {
    position: relative;
    padding: 0;
}
.col-12 label {
   position: relative;
   margin: 30px;
}

.col-12 input {
    border: 1px solid #ccc; 
    padding: 7px 14px 9px; 
    transition: 0.4s;
    border-radius: 5px;
    border: none;
}


.col-6, .col-3, .col-7 {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    
}
.col-6 label {
    position: relative;
    left: 50px;
    top: 12px;
}
.col-6 input {
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
    position: relative;
    left: 105px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.col-3 label {
    position: relative;
    left: 50px;
    top: 12px;
}
.col-3 input {
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
    position: relative;
    left: 100px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.col-7 label {
    position: relative;
    left: 50px;
    top: 30px;
    
}
.col-7 textarea {
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
    position: relative;
    left: 70px;
    margin: 10px;
    text-align: center;
    height: 100px;
    border-radius: 5px;
    border: none;
}

.col-8 {
    position: relative;
    align-items: center;
    margin: 15px;
    padding: 0px;
}
.col-8 button {
    position: relative;
    margin: 20px;
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    font-family:'Merriweather', serif ;
}
.col-8 .btn1 {
    background-color: rgb(25, 94, 222);
}
.col-8 .btn2 {
    background-color: rgb(229, 45, 45);
}
.col-8 .btn1:hover {
    background-color:rgb(5, 46, 250) ;
    cursor: pointer;
}
.col-8 .btn2:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}