.footer {
    width: 100%;
    }
    
    .navigation_container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    width: 100%;
    margin: auto;
    gap: 8rem;
    padding: 3rem 0;
    background-color: #d7e3ed;
    }
    
    .uni {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    }
    .uni h5 {
    width: 250px;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: 0.8px;
    }
    .uni p {
    line-height: 1.5;
    }
    .uni p1 {
    margin-top: 10px;
    }
    .uni p1 span {
    color: #001324;
    font-weight: 800;
    }
    
    .link__container {
    display: flex;
    flex-direction: column;
    width: 150px;
    }
    .link__container h5 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: 0.8px;
    }
    
    .footer__link {
    line-height: 1.8;
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 600;
    }
    .footer__link:hover {
    color: black;
    }
    
    .link__container1 {
    display: flex;
    flex-direction: column;
    }
    .link__container1 h5 {
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
    }
    .social__links_container {
    display: flex;
    gap: 0.8rem;
    }
    .social__links_container button {
    background-color: black;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    .social__links_container button i {
    color: white;
    font-size: 15px;
    }
    .social__links_container button:hover {
    background-color: rgb(69, 68, 68);
    }
    
    
    
    