.footer {
    width: 100%;
    }
    
    .navigation_container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    width: 100%;
    margin: auto;
    gap: 8rem;
    padding: 3rem 0;
    background-color: #d7e3ed;
    }
    
    .uni {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    }
    .uni h5 {
    width: 250px;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: 0.8px;
    }
    .uni p {
    line-height: 1.5;
    }
    .uni p1 {
    margin-top: 10px;
    }
    .uni p1 span {
    color: #001324;
    font-weight: 800;
    }
    
    .link__container {
    display: flex;
    flex-direction: column;
    width: 150px;
    }
    .link__container h5 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: 0.8px;
    }
    
    .footer__link {
    line-height: 1.8;
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 600;
    }
    .footer__link:hover {
    color: black;
    }
    
    .link__container1 {
    display: flex;
    flex-direction: column;
    }
    .link__container1 h5 {
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
    }
    .social__links_container {
    display: flex;
    gap: 0.8rem;
    }
    .social__links_container button {
    background-color: black;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    .social__links_container button i {
    color: white;
    font-size: 15px;
    }
    .social__links_container button:hover {
    background-color: rgb(69, 68, 68);
    }
    
    
    .team_area {
    margin-top: 1%;
    padding: 60px;
    width: 100%;
    }
    
    .text h2 {
    display: block;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    }
    .text h2 span {
    color: #ff5a6e;
    }
    .text h4 {
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
    text-align: center;
    letter-spacing: 3px;
    }
    .text h4:before {
    background: #ff5a6e none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left:50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    }
    
    .profile-card {
    width: 100%;
    align-items: center;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:104px;
    }
    
    .column {
      width: 220px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex:4;
      justify-content: center;
    }
    
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .column img {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      box-shadow: 0 0 22px rgba(18, 18, 18, 0.4);
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
    .column img:hover {
      transform: scale(1.05) ;
    }
    
    .text1 {
      font-size: 20px;
      font-weight: 600;
      padding-top: 20px;
    }
    .text2 {
      font-size: 20px;
      font-weight: 600;
      margin-left: 100px;
      padding-top: 10px;
    }
    .text3 {
      font-size: 20px;
      font-weight: 600;
      margin-left: 125px;
      padding-top: 10px;
    }
    
    .social {
      display: flex;
      gap: 0.8rem;
      padding-top: 10px;
    }
    .social button {
      background-color: black;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .social button i {
      color: white;
      font-size: 15px;
      font-weight: 500;
      align-items: center;
      align-content: center;
    }
    .social button:hover {
      background-color: rgb(69, 68, 68);
    }
    .social1 {
      display: flex;
      gap: 0.8rem;
      padding-left: 50px;
      padding-top: 10px;
      margin-left: 75px;
    }
    .social1 button {
      background-color: black;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .social1 button i {
      color: white;
      font-size: 15px;
      font-weight: 500;
      align-items: center;
      align-content: center;
    }
    .social1 button:hover {
      background-color: rgb(69, 68, 68);
    }
    
    .social2 {
      display: flex;
      gap: 0.8rem;
      padding-left: 50px;
      padding-top: 10px;
      margin-left: 70px;
    }
    .social2 button {
      background-color: black;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .social2 button i {
      color: white;
      font-size: 15px;
      font-weight: 500;
      align-items: center;
      align-content: center;
    }
    .social2 button:hover {
      background-color: rgb(69, 68, 68);
    }
    
    .social3 {
      display: flex;
      gap: 0.8rem;
      padding-left: 50px;
      padding-top: 10px;
      margin-left: 75px;
    }
    .social3 button {
      background-color: black;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .social3 button i {
      color: white;
      font-size: 15px;
      font-weight: 500;
      align-items: center;
      align-content: center;
    }
    .social3 button:hover {
      background-color: rgb(69, 68, 68);
    }
    