* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
  }
  
  .hero_ssection {
  position: relative;
  }
  .navbar {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    padding: 40px 0px;
  }
  
  .navbar__menu_container {
    display: flex;
    gap: 60px;
    position: relative;
    flex-direction: row;
    margin: 2px;

  }
  .navbar a {
    height: 11px;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  .navbar a:hover {
  transform: scale(1.05) ;
  color:red;
  font-size: 120%;
  }
  
  .navbar img {
  width: 240px;
  height: 130px;
  padding: 1px;
  }
  .navbar .button4 {
  background-color: #1B77CC;
  border-radius: 30px;
  padding: 1px 20px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  }
  
  .button4 a {
  animation: animate 
                2.5s linear infinite
  }
  
  @keyframes animate {
  0% {
      opacity: 0;
  }
  
  50% {
      opacity: 0.7;
  }
  
  100% {
      opacity: 0;
      color:#ffffff;
  }
  }
  
  .navbar h1 {
    position: absolute;
    width: 500px;
    height: 51px;
    top: 10px;
    left: 170px;
    font-weight: 600;
    font-size: 30px;
    line-height: 71px;
    color: #001324;
  }