.box {
    height: 100vh;
    width: 100%;
    background-image: url(../images/hapr4.gif);
    background-size:cover;
    background-position: center;
}

.square {
    height: 80vh;
    width: 60vw;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 25%;
    top: 40px;
    padding: 0;
    margin: 0;
    background-image: url(../images/sc-background-image-ngen.a3802848.webp);
    background-size:contain;
    background-position: center;
}

.square span {
    width: 12vw;
    font-size: 26px;
    font-weight: 600;
    color: rgb(225, 14, 14);
    position: relative;
    bottom: 15px;
    background-color: white;
    text-align: center;
}

.info {
    text-align: center;
    position: relative;
    top: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
}

.col-12 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather', serif;
    gap: 10px;
}

.col-1, .col-2 {
    position: relative;
    padding: 5px;
    margin: 10px;
}

.col-12 input {
    border: 1px solid rgb(1, 1, 1); 
    padding: 7px 14px 9px; 
    transition: 0.4s;
    border-radius: 5px;
    position: relative;
    margin: 12px;
}
.col-12 input:hover {
    border: 2px solid red; 
}

.col-6 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather', serif;
    gap: 50px;
    left: 40px;
}
.col-6 label {
    position: relative;
    top: 18px;
}

.col-6 select {
    text-align: center;
    border: 1px solid black;
    padding: 7px 14px 9px;
    transition: 0.4s;
    position: relative;
    width: 28%;
    left: 30px;
    margin: 12px;
    border-radius: 5px;
}
.col-6 select:hover {
    border: 2px solid red;
}
.col-6 input:hover {
    border: 2px solid red;
}
.col-6 input {
    width: 28%;
    border: 1px solid black;
    padding: 7px 14px 9px;
    transition: 0.4s;
    position: relative;
    left: 30px;
    margin: 12px;
    border-radius: 5px;
}

.col-3{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather', serif;
    gap: 20px;
}

.col-3 label {
    position: relative;
    left: 50px;
    top: 40px;
}

#gender{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#gender .bt {
    background-color: #f6e605;
    border-radius: 15px;
    margin: 30px;
    width: 85px;
    height: 50px;
    transition: 200ms;
    position: relative;
    left: 150px;
    box-sizing: border-box;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#gender .bt span {
    font-family: 'Merriweather', serif;
    color: black;
    font-weight: 600;
    text-align: center;
    position: relative;
    font-size: 15px;
    background-color: transparent;
    bottom:0px;
}

#gender div:focus {
    background-color: #005eff;
}
#gender .bt:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}


.col-7 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather', serif;
    gap: 1px;
}
.col-7 label {
    position: relative;
    left: 20px;
    top: 30px;
    
}
.col-7 input {
    border: 1px solid rgb(1, 1, 1); 
    padding: 7px 14px 9px; 
    transition: 0.4s;
    border-radius: 5px;
    position: relative;
    margin: 12px;
    left: 50px;
    width: 40%;
    top: 10px;
}

.col-7 input:hover{
    border: 2px solid red;
}

.col-8 {
    position: relative;
    align-items: center;
    margin: 15px;
    padding: 0px;
}
.col-8 button {
    position: relative;
    margin: 20px;
    top: 25px;
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    font-family:'Merriweather', serif ;
}
.col-8 button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.col-8 .btn1 a {
    text-decoration: none;
    color: black;
}
.col-8 .btn1 {
    background-color: rgb(25, 94, 222);
}
.col-8 .btn2 {
    background-color: rgb(229, 45, 45);
}
.col-8 .btn1:hover {
    background-color:rgb(5, 46, 250) ;
    cursor: pointer;
}
.col-8 .btn2:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
