.results{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box1 {
    /* height: 100vh; */
    width: 100%;
}

.square1 {
    width: 98vw;
    border-top: 3.5px solid rgb(197, 68, 68);
    position: relative;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    padding: 0;
    margin: 0;
}

.square1 span {
    width: 10vw;
    font-size: 35px;
    font-weight: 600;
    color: rgb(225, 14, 14);
    position: relative;
    right: 400px;
    bottom: 25px;
    background-color: white;
    text-align: center;
}

.left1 {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 25px;
    
    top: 90px;
    left: 5%;
}
.result_sec1 {
    border: 1px solid black;
    width: 50vw;
    min-height: 80vh;
    font-family: 'Merriweather', serif;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 50px;
    background-image:linear-gradient(to right, rgb(253, 251, 251) , rgb(229, 229, 229));
    overflow-y: scroll;
}

.result_sec1 h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

.boxes1 {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    top: 30px;
    align-items: center;
    flex-direction: column;
}
.boxes1 .box11 {
    width: 40vw;
    height: 10vh;
    background-color: rgb(98, 170, 247);
    bottom: 220px;
    left: 59px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.results{
    display: none;
}