

.hero_section_container {
  background: url(../images/Doc3.jpg);
  background-size:cover;
  background-position: center;
  color: white;
  min-height: 70vh;
  width: 100%;
  overflow: auto;
  display: flex;
}

.hero_section_title{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 70vh;
letter-spacing: 1px;
line-height: 1.4;
position: absolute;
top: 20px;
left: 50px;
}

.hero_section_title h2 {
position: relative;
font-size: 90px;
bottom: 40px;
font-family: "Audiowide", sans-serif;
text-shadow: 3px 3px 3px #ababab;
color: red;
animation: blink 2.5s linear infinite;
}
@keyframes blink{
0%{opacity: 5;}
50%{opacity: .5;}
100%{opacity: 1;}
}

h1 {
  color: rgb(15, 14, 14);
  font-size: 3rem;
  font-weight: 90;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  bottom: 40px;
  width: 600px;
  right: 35px;
}

.button5{
  position: relative;
  background-color: #1B77CC;
  border-radius: 60px;
  padding: 8px 43px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  left: 10px;
  border: none;
  width: 234px;
  height: 56px;
  margin-top: 10px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.button5:hover{
  transform: scale(1.05);
}


h1 span {
  font-size: 50px;
  margin-right: 150px;
}

.message {
  color: rgb(225, 14, 14);
  display: block;
  font-weight: 500;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: 'Merriweather', serif;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 255px;
  }
  30% {
    top: 0.2rem;
    width: 270px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}



.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -60px;
}

.card1 {
  position: relative;
  border-radius: 19px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;   
  background-color: #1B77CC;
  width: 425px;
  height:448px ;
  z-index: 5px;
}
.card1 h1 {
width: 375px;
left: 25px;
padding: 25px;
position: relative;
top: 10px;
font-size: 30px;
text-align:center;
justify-content:center;
font-weight: 800;
line-height: 170%;
color: #e1e0e0;
}
.card1 h2 {
text-align: center;
justify-content: center;
font-size: 23px;
text-align: center;
justify-content: center;
font-weight: 300;
color: #000000;
}
.card1:hover {
  transform: scale(1.05);
}
.card1 a {
background-color:rgb(91, 136, 224); 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 30px 110px;
cursor: pointer;
box-shadow: 0 10px 16px 0 rgba(241, 8, 8, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 20px;
}
.card1 a:hover {
transform: scale(1.08);
}

.card2 {
  position: relative;
  top: 15px;
border-radius: 10px;
overflow: hidden;
border: 1px solid #000000;
transition: all 0.3s ease;  
width: 300px;
height:448px ; 
background-color: white;
background-image:linear-gradient(to right, rgb(253, 251, 251) , rgb(229, 229, 229));
padding:4px;
}
.card2 h1 {
  position: relative;
  top: 1px;
width: 250px;
left: 20px;
font-size: 24px;
text-align: center;
justify-content: center;
font-weight: 800;
line-height: 170%;
color: #1B77CC;
padding-bottom: 12px;
}
.card2 h2 {
line-height: 170%;
font-size: 18px;
text-align: center;
justify-content: center;
font-weight: 500;
}
.card2:hover {
transform: scale(1.05);
}
.card2 a {
text-decoration: none;
color: #ecebf1;
background-color: #2f18b1; 
border: none;
padding: 15px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 50px 65px;
cursor: pointer;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 20px;
}
.card2 a:hover {
transform: scale(1.08);
}

.card3 {
  position: relative;
  top: 10px;
border-radius: 10px;
overflow: hidden;
border: 1px solid #000000;
transition: all 0.3s ease;  
width: 300px;
height:448px ; 
background-color: white;
background-image:linear-gradient(to right, rgb(253, 251, 251) , rgb(229, 229, 229));
padding:0px;
}
.card3:hover {
transform: scale(1.05);
}
.card3 h1 {
  position: relative;
  top: 1px;
width: 250px;
left: 20px;
font-size: 24px;
text-align: center;
justify-content: center;
font-weight: 800;
line-height: 170%;
color: #1B77CC;
padding-bottom: 12px;
}
.card3 h2 {
line-height: 170%;
font-size: 18px;
text-align: center;
justify-content: center;
font-weight: 500;
}
.card3 a {
background-color: #2f18b1; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 60px 65px;
cursor: pointer;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 20px;
}
.card3 a:hover {
transform: scale(1.08);
}


