@media only screen and (max-width: 900px) {
    .uni {
        width: 160px;
        margin-left: 30px;
    }
   
    .navbar__menu_container a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 20px;
        padding-top: 15px;
        font-size: 20px;
  
      }
      
      .navbar h1 {
         display: none;
      }
      .navbar .button4 {
          display: none;
      }

      .hero_section_container {
        min-height: 30vh;
    }
    .hero_section_title {
      height: 40vh;
    }

    .container .card1 {
      margin-left: 50px;
      margin-top: 40px;
    }

    .text h2 {
      font-size: 40px;
      margin-top:50px ;
    }
    .profile-card {
      margin-top: 20px;
      color: #ff5a6e;
      text-align: center;
    }
    .column {
      margin-right: 50px;
    }
  }


  

  @media only screen and (max-width: 600px) {
    .uni {
       display: none;
    }
   
    .navbar__menu_container a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
        padding-top: 15px;
        font-size: 15px;
  
      }
      .navbar h1 {
         display: none;
      }
      .navbar .button4 {
          display: none;
      }
      .navbar img {
        height: 120px;
      }

      .hero_section_title h2{
        font-size: 62px;
        margin-left: 80px;
      }
      .hero_section_title h1 {
        display: none;
      }
      .button5 {
        margin-left: 80px;
      }

      .container {
        margin: 8px; 
      }

      .card2 {
        width: 220px;
        height: 500px;
      }
      .card3 {
        width: 220px;
        height: 500px;
      }
    .card2 h1 {
        margin-right: 80px;
        font-size: 20px;
    }

    .profile-card {
        margin-top: 20px;
        color: #000000;
        text-align: center;
      }
      .column img {
        width: 180px;
        height: 180px;
        margin-left: 0px;
      }
      .column {
        padding: 20px 0px 0px 0px;
      }
      .text1 {
        font-size: 16px;
        margin-left: 30px;
      }
      .text2{
        font-size: 16px;
        margin-left: 30px;
      }
      .text3{
        font-size: 16px;
        margin-left: 30px;
      }
      .social {
        margin-left: 1px;
      }
      .social1, .social2 {
        margin-left: 0px;
      }
    
  }
